@use "resets";
@use "header";
@use "footer";

@use "vars" as *;

// General Css

body {
    font-family: $main_font;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

// Utils

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
}

//Jumbo
#jumbotron {
    height: 400px;
    overflow: hidden;
}
